.stj-acciones{
  padding: 6px;
  border-radius: 100%;
  transition: .8s;
}
.stj-acciones > i{
  font-size: 15px;
  width: 17px;
  height: 15px;
  text-align: center;

}
.stj-acciones:hover{
  background-color: #3FBFBF; 
  color: white;
}
.stj-acciones-delete:hover{
  background-color: #BF3F3F; 
  color: white;
}
.stj-acciones-new{
  background-color: rgba(63,191,127,0.8);
  color: white;
}
.stj-acciones-new:hover{

  background-color: rgba(63,191,127,1);
}

/*Editor de texto básico*/
  /*Fondo*/
.stj-editor-basic{
  background-color: #CEE3F6; border: 1px solid #CECECE;
}